<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- bean definitions here -->
	<bean id="validatorBean" class="com.example.pkg.BeanValidator">
		<property name="animal1">
			<idref bean="cat" />
		</property>
		<property name="animal2">
			<idref bean="dog" />
		</property>
	</bean>

	<bean id="cat" class="com.example.pkg.Animal" >
		<property name="speciesName" value="Cat" />
		<property name="color" ref="black" />

		<property name="size">
			<bean class="com.example.pkg.Size">
				<constructor-arg index="0" value="8.5" />
				<constructor-arg index="1" value="12.45" />
			</bean>
		</property>
	</bean>

	<bean id="dog" class="com.example.pkg.Animal" autowire="constructor" scope="prototype">
		<property name="speciesName" value="Dog" />
		<property name= "color" ref="white"/>

		<property name="size">
			<bean class="com.example.pkg.Size">
				<constructor-arg index="0" value="20.5" />
				<constructor-arg index="1" value="123.45" />
			</bean>
		</property>
	</bean>

	<bean id="mouse" class="com.example.pkg.Animal">
		<property name="names">
			<list>
				<value>jerry</value>	
				<value>mickey</value>
				<value>gonzalez</value>				
			</list>
		</property>
		<property name="food">
			<map>
				<entry key="1" value="hello"/>
				<entry key="2" value="chocolates"/>
				<entry key="3" value="coffee"/>	
			</map>
		</property>
		
	</bean>



	<alias name="cat" alias="tom" />

	<bean id="white" class="com.example.pkg.Color" autowire-candidate="false" >
		<constructor-arg value="white" />
		<constructor-arg value="1" />
	</bean>

	<bean id="black" class="com.example.pkg.Color" autowire-candidate="false">
		<constructor-arg value="black" />
		<constructor-arg value="28" />
	</bean>
	
	<bean id="color" class="com.example.pkg.Color">
		<constructor-arg value="azul" />
		<constructor-arg value="24" />
	</bean>
	
	<bean id="theConstructor" class="com.example.pkg.Customer">
		
	</bean>
	

</beans>